<%- include('../layouts/header', { title: title, currentUser: currentUser, flash: flash, activeNav: activeNav }) %>

<div class="max-w-5xl mx-auto px-4 py-6">
  <div class="mb-4">
    <a href="/work-orders/<%= wo.id %>" class="text-sm text-recon-fog hover:text-recon-red">&larr; WO-<%= wo.display_number %></a>
  </div>
  <h1 class="page-h1 mb-6">Edit WO-<%= wo.display_number %></h1>

  <%- include('_form', {
    wo: wo, job: { id: wo.job_id, title: wo.job_title }, users: users,
    errors: errors, units: units,
    formAction: '/work-orders/' + wo.id, submitLabel: 'Save changes',
    isSubWO: !!wo.parent_wo_id, parent: wo.parent_wo_id ? { id: wo.parent_wo_id, display_number: wo.parent_display_number } : null
  }) %>
</div>

<%- include('../layouts/footer') %>
